/* Do not show the file name at the top of the page for pages that define their own main title. */
.customiseTitle div.page-header {
	display: none;
}

/*
 * Callout: page-edit-history
 *
 * The same rule must be in two files:
 * - .obsidian/snippets/callout-page-edit-history.css (used by Obsidian desktop application)
 * - publish.css (used on the https://publish.obsidian.md website)
 */
.callout[data-callout="page-edit-history"] {
    --callout-icon: lucide-history;
}
.theme-light .callout[data-callout="page-edit-history"] {
    --callout-color: 0,0,75;
}
.theme-dark .callout[data-callout="page-edit-history"] {
    --callout-color: 155,155,255;
}