# The workspace file changes so often that it should not be version controlled. Also, different users may have different preferences.
/workspace

# Do not store theme files in git, as those are downloaded with a few clicks.
/themes

# Let different users select their own appearance settings and css theme.
/appearance.json

# Exclude Publish settings file - at least until I'll know if it's safe to share it: https://forum.obsidian.md/t/obsidian-publish-can-i-share-obsidian-publish-json/27657
/publish.json